/* desktop */
rem html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
body {
  color: #2a2208;
}

.bg-secondary-color {
  background-color: #2a2208;
}

.bg-primary-color {
  background-color: #ffc400;
}

header section ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header section ul li {
  margin: 4px;
}

header section ul li a {
  display: block;
  text-decoration: none;
  color: #ffc400;
  font-size: 1.3rem;
}
.my-toggler {
  font-size: 2.5rem;
  color: #ffc400;
}
.logo {
  aspect-ratio: 1 / 1;
  width: 60px;
}

img.profile {
  border: 6px solid #2a2208;
  border-radius: 60px;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-size: 1.8rem;
}
.component-1{
  flex: 1;
}
.component-2{
  text-align: center;
  flex: 1;
}
.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.8rem;
}
.centered-text {
  text-align: center;
}

.highlight {
  font-weight: bold;
  font-size: 4rem;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

.button {
  padding: 0 6px;
  background-color: #2a2208;
  width: 30vw;
  height: 100px;
  color: #ffc400;
  font-size: 1.5rem;
  border-radius: 25px;
}

footer p {
  color: #ffc400;
}

/* media querys tabl */

@media (max-width: 1024px) {
  header section ul li {
    margin: 10px;
  }
  .my-toggler {
    font-size: 2rem;
  }
  .logo {
    width: 40px;
  }
  .vertical-align {
    font-size: 1.5rem;
  }
  .highlight {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  .button {
    font-size: 1.4rem;
  }
}

@media (max-width: 640px)  {
  header section ul {
    flex-direction: column;
  }
  header section ul li {
    margin: 10px;
  }
  .my-toggler {
    font-size: 1.6rem;
  }
  .logo {
    width: 40px;
  }
  .main-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
  }
  .component-1{
    flex: 1;
  }
  .component-2{
    text-align: center;
    flex: 1;
  }
  .vertical-align {
    font-size: 1.2rem;
  }
  .highlight {
    font-size: 2rem;
  }
  h1 {
    font-size: 2.6rem;
  }
  .button {
    font-size: 1.1rem;
  }
}
