/* global styles */
html {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: auto;
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  color: #2a2208;
  text-shadow: 0.15rem 0.15rem 0.6rem #2a2208;
  display: flex;
  flex-direction: column;
}
body main {
  flex: 1;
}

.bg-primary-color {
  background: linear-gradient(60deg, #ffc400 0%, #f3a32b 100%);
}

.bg-secondary-color {
  background-color: #2a2208;
}

.bg-tertiary-color {
  background-color: rgba(42, 34, 8, 0.3);
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  padding: 3rem 0 4rem 0;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

.justified {
  text-align: justify;
}

ul {
  list-style-type: none;
}

.p-top {
  padding-top: 20px;
}

.lat-p {
  padding: 0 12px;
}

.p-m {
  padding: 20px;
  margin: 20px;
}

.m-top {
  margin-top: 20px;
}

.m-bot {
  margin-bottom: 20px;
}

header section ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header section ul li {
  margin: 4px;
}
header section ul li a {
  display: block;
  text-decoration: none;
  color: #ffc400;
  font-size: 2rem;
}
header .my-toggler {
  font-size: 40px;
  color: #ffc400;
}
header .logo {
  aspect-ratio: 1/1;
  width: 40px;
}

img.profile {
  filter: saturate(0.4);
  border: 6px solid #2a2208;
  border-radius: 60px;
  box-shadow: 0px 4px 10px #2a2208;
  width: 100%;
  max-width: 600px;
}

.flex-container {
  display: flex;
}
.flex-container .component-f-1 {
  flex: 1;
}

.column {
  flex-direction: column;
}

.centered {
  text-align: center;
  align-items: center;
}

.at-right {
  text-align: right;
}

.main-content {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.vertical-align {
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
}

.button, .form-button {
  background-color: #2a2208;
  color: #ffc400;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #2a2208;
  padding: 0px 6px;
  width: 30vw;
  height: 100px;
  font-size: 2rem;
}

.box {
  box-shadow: 0px 4px 10px #2a2208;
  border-radius: 30px;
  text-shadow: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  place-items: center;
  gap: 25px;
}
footer .footer-links {
  width: 100%;
  justify-content: space-between;
}
footer .phrases {
  width: 100%;
}
footer .copyright {
  width: 100%;
}
footer .carousel-item {
  height: 16rem;
}
footer img.links {
  width: 5vw;
  margin: 2rem;
  max-width: 40px;
}
footer p,
footer h3 {
  color: #ffc400;
}

/* index */
.highlight {
  font-weight: bold;
  font-size: 4.5rem;
}

/* projects */
.grid-container-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 25px;
}
.grid-container-projects .project {
  padding: 1rem;
  max-width: 400px;
  height: 100%;
}
.grid-container-projects .project img.projects {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #2a2208;
}

/* about */
.grid-container-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
}
.grid-container-about .about-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-container-about .about-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-container-about .about-3 {
  grid-column: 1/3;
  grid-row: 2/3;
}
.grid-container-about .about-3 li {
  font-size: 1.8rem;
  padding: 5px;
}

/* statements */
.grid-container-statements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.statements {
  font-size: 2rem;
  padding: 10px;
}

/* contact */
.grid-container-form {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  gap: 35px;
}
.grid-container-form .label-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-container-form .input-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-container-form .label-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid-container-form .input-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-container-form .label-3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.grid-container-form .input-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.grid-container-form .label-4 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.grid-container-form .input-4 {
  grid-column: 4/5;
  grid-row: 1/4;
}

label {
  font-size: 2rem;
}

input,
textarea {
  resize: none;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #2a2208;
  font-size: 1.8rem;
  padding: 10px;
}

.form-button {
  width: 20vw;
}

/* bootstrap changes */
.carousel-caption {
  all: unset;
  position: absolute;
  top: 25%;
  width: 100%;
}

/* media queries */
@media (max-width: 1140px) {
  .grid-container-form {
    grid-template-columns: 2fr 1fr;
  }
  .grid-container-form .label-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid-container-form .input-1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .grid-container-form .label-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container-form .input-2 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .grid-container-form .label-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid-container-form .input-3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .grid-container-form .label-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-container-form .input-4 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
@media (max-width: 1024px) {
  header section ul li {
    margin: 10px;
  }
  .my-toggler {
    font-size: 45px;
  }
  .logo {
    font-size: 40px;
  }
  .vertical-align {
    font-size: 1.6rem;
  }
  .highlight {
    font-size: 3rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.3rem;
  }
  .p-top {
    padding-top: 13px;
  }
  .lat-p {
    padding: 0 15px;
  }
  .p-m {
    padding: 13px;
    margin: 13px;
  }
  .m-top {
    margin-top: 13px;
  }
  .m-bot {
    margin-bottom: 13px;
  }
  .button, .form-button {
    font-size: 1.6rem;
  }
  .form-button {
    width: 70%;
  }
  .grid-container-projects {
    grid-template-columns: 1fr;
  }
  .grid-container-projects .project {
    max-width: 800px;
  }
  .grid-container-projects .project img.projects {
    max-width: 800px;
  }
  .grid-container-about .about-4 li {
    font-size: 1.3rem;
  }
}
@media (max-width: 640px) {
  header section ul {
    flex-direction: column;
  }
  header section ul li {
    margin: 10px;
  }
  .my-toggler {
    font-size: 40px;
  }
  .logo {
    font-size: 35px;
  }
  h1 {
    font-size: 4rem;
    padding: 2rem 0 5rem 0;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  .p-top {
    padding-top: 7px;
  }
  .lat-p {
    padding: 0 18px;
  }
  p {
    font-size: 1.3rem;
  }
  .p-m {
    padding: 7px;
    margin: 7px;
  }
  .m-top {
    margin-top: 7px;
  }
  .m-bot {
    margin-bottom: 7px;
  }
  .main-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
  }
  .guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vertical-align {
    font-size: 1.6rem;
  }
  .highlight {
    font-size: 2.5rem;
  }
  .button, .form-button {
    font-size: 1.6rem;
    width: 100%;
    padding: 15px 30px;
  }
  .form-button {
    width: 100%;
  }
  .grid-container-statements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .box {
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
  }
  .grid-container-form {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .grid-container-form .label-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid-container-form .input-1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container-form .label-2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid-container-form .input-2 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-container-form .label-3 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .grid-container-form .input-3 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .grid-container-form .label-4 {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .grid-container-form .input-4 {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  .grid-container-about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }
  .grid-container-about .about-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .grid-container-about .about-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid-container-about .about-3 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid-container-about .about-4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid-container-about .about-4 li {
    font-size: 1.3rem;
  }
  label {
    font-size: 1.6rem;
  }
  input {
    width: 100%;
  }
  footer {
    grid-template-columns: 1fr;
  }
  footer .footer-links {
    justify-content: space-around;
  }
  footer .carousel-item {
    height: 8rem;
  }
  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
