@media (max-width: 1140px) {
  .grid-container-form {
    grid-template-columns: 2fr 1fr;
    .label-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .input-1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .label-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .input-2 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .label-3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .input-3 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .label-4 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .input-4 {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
  }
}

@media (max-width: 1024px) {
  header {
    section {
      ul {
        li {
          margin: 10px;
        }
      }
    }
  }
  .my-toggler {
    font-size: 45px;
  }
  .logo {
    font-size: 40px;
  }
  .vertical-align {
    font-size: $font-tablet-size-md;
  }
  .highlight {
    font-size: $font-tablet-size-xl;
  }
  h1 {
    font-size: $font-tablet-size-xxl;
  }
  h2 {
    font-size: $font-tablet-size-xl;
  }
  h3 {
    font-size: $font-tablet-size-lg;
  }
  b,
  h4 {
    font-size: $font-tablet-size-md;
  }
  p {
    font-size: $font-tablet-size-sm;
  }
  .lat-p {
    padding: 0 $lateral-padding-lg;
  }
  .button {
    font-size: $font-tablet-size-md;
  }
  .form-button {
    width: 70%;
  }
  .grid-container-about {
    .about-4 {
      li {
        font-size: $font-tablet-size-sm;
      }
    }
  }
}

@media (max-width: 640px) {
  header {
    section {
      ul {
        flex-direction: column;
        li {
          margin: 10px;
        }
      }
    }
  }
  .my-toggler {
    font-size: 40px;
  }
  .logo {
    font-size: 35px;
  }
  h1 {
    font-size: $font-mobile-size-xxl;
    padding: 2rem 0 5rem 0;
  }
  h2 {
    font-size: $font-mobile-size-xl;
  }
  h3 {
    font-size: $font-mobile-size-lg;
  }
  b,
  h4 {
    font-size: $font-mobile-size-md;
  }
  p {
    font-size: $font-mobile-size-sm;
  }
  .lat-p {
    padding: 0 $lateral-padding-md;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: $font-mobile-size-md;
  }
  .guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .vertical-align {
    font-size: $font-mobile-size-md;
  }
  .highlight {
    font-size: $font-mobile-size-xl;
  }
  .button {
    font-size: $font-mobile-size-md;
    width: 100%;
    padding: 15px 30px;
  }
  .form-button {
    width: 100%;
  }

  .grid-container-statements {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .box {
    padding: 4px;
    margin: 4px;
    border-radius: 5px;
  }
  .grid-container-form {
    grid-template-columns: 1fr;
    gap: 10px;
    .label-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .input-1 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .label-2 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .input-2 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .label-3 {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
    .input-3 {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }
    .label-4 {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
    }
    .input-4 {
      grid-column: 1 / 2;
      grid-row: 8 / 9;
    }
  }
  .grid-container-about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    .about-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .about-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .about-3 {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    .about-4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      li {
        font-size: $font-mobile-size-sm;
      }
    }
  }
  label {
    font-size: $font-mobile-size-md;
  }
  input {
    width: 100%;
  }
  footer {
    grid-template-columns: 1fr;
    .footer-links {
      justify-content: space-around;
    }
    .carousel-item {
      height: 8rem;
    }
  }
  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}
